.modal {
  display: flex;
  text-decoration: underline;
  flex: 1;
  color: blue;
  width: inherit;
}

.modal > h6 {
  color: blue;
  cursor: pointer;
}

.box-modal {
  padding: 10px;
  width: 700px;
  height: 400px;
  background-color: #fff;
  border-radius: 10px;
}

.area-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}
